<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pkath2.springcloud.dao.TestDao">

    <resultMap id="BaseResultMap" type="com.pkath2.springcloud.entities.TestPojo">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="biz_type" property="bizType" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        e.id id, e.name `name`, e.biz_type biz_type
    </sql>

    <select id="selectOneById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM test_pojo e
        WHERE e.id = #{id,jdbcType=CHAR}
    </select>

    <select id="selectList" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM test_pojo e
    </select>

    <insert id="insert" parameterType="com.pkath2.springcloud.entities.TestPojo" >
        INSERT INTO test_pojo
        <trim prefix="(" suffix=")" suffixOverrides="," >
            id,
            <if test="name != null" >
                `name`,
            </if>
            <if test="bizType != null" >
                biz_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id},
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="bizType != null" >
                #{bizType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>
